.path {
  display: flex;
  flex-direction: row;
  justify-content: start;
  height: 100px;
  background-color: #F9F1E7;
  margin: 0px;
}

.left-path {
  display: flex;
  flex-direction: row;
  gap: 14px;
  position: absolute;
  left: 99px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
}

.path-links {
  color: #9F9F9F;
}

.Product-name {
  border-style: solid;
  border-width: 2px;
  border-color: #9F9F9F;
  border-right: 0;
  border-top: 0;
  border-bottom: 0;
  padding-left: 14px;
  padding-top: 6.5px;
  padding-bottom: 6.5px;
}