.billing {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 26px;
    margin: 63px 100px;
}

.billing-left {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 35px 76px 71px 76px;
    gap: 36px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 36px;
}

form .names {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

form label {
    text-align: left;
    display: block;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

form input,
form select,
form textarea {
    background: white;
    border: 1px solid #9F9F9F;
    width: 453px;
    height: 75px;
    border-radius: 10px;
    padding-left: 30px;
    font-size: 16px;
    font-weight: 400;
}

form select {
    appearance: none;
    background-image: url('../assets/billingArrow.svg');
    background-repeat: no-repeat;
    background-position: calc(100% - 30px) center;
    background-size: 14px 8px;
    padding-left: 30px;
    color: #9F9F9F;
    font-size: 16px;
    font-weight: 400;
}

form .names input {
    width: 211px;
}

form div label {
    padding-bottom: 22px;
}

form textarea {
    resize: none;
    text-align: left;
    padding-top: 25px;
}

.billing-right {
    display: flex;
    flex-direction: column;
    padding: 87px 35px;
}

.billing-top-payment {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #D9D9D9;
    padding-bottom: 33px;
    justify-content: space-between;
}

.billing-top-payment h3 {
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
}

.payment-left,
.payment-right {
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.payment-left {
    text-align: left;
}

.payment-left .item {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.payment-left .item .grey {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.payment-right {
    text-align: right;
}

.payment-right h4 {
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    color: #B88E2F;
}

.payment-methods {
    padding-top: 22px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
}

.payment-list li .grey {
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    text-align: justify;
}

.payment-list {
    list-style: none;
}

.payment-list li p {
    padding: 20px 0;
}

.payment-methods button {
    all: unset;
    padding: 17px 102px;
    border: 1px solid black;
    border-radius: 15px;
    cursor: pointer;
}