.cart {
    display: flex;
    flex-direction: row;
}

.cart-left {
    display: grid;
    gap: 20px;
    margin: 150px;
}

.cart-categories ul {
    display: grid;
    grid-template-columns: 108px 1fr 1fr 1fr 1fr auto; /* Image, Product, Price, Quantity, Subtotal, Trash */
    list-style: none;
    font-weight: bold;
    text-align: left;
}

.cart-categories ul li {
    grid-row-start: 2;
}

.cart-item-card {
    display: grid;
    grid-template-columns: 108px 1fr 1fr 1fr 1fr auto; /* Ensure grid matches cart-categories */
    align-items: center;
    text-align: center;
    gap: 10px;
}

.cart-item-card .product-img {
    width: 100px; /* adjust the width as needed */
    height: auto;
}

.cart-item-card .trash-icon {
    width: 20px; /* adjust the width as needed */
    height: auto;
    cursor: pointer;
}

.cart-item-card p, .cart-item-card input {
    margin: 0;
    padding: 10px;
}

.cart-item-card input.quantity {
    width: 50px;
    text-align: center;
}
