@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

header {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
    margin: 29px 0 30px 0;
}

header .nav-image {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
}

header .nav-image img {
    width: 50px;
    height: 32px;
}

header nav ul,
header .nav-icons ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    text-align: center;
    justify-content: center;
    align-items: center;
}

header nav ul {
    gap: 75px;
}

header .nav-icons ul {
    gap: 45px;
}

header .nav-icons ul li a {
    width: 28px;
    height: 28px;
}

header nav ul li a {
    text-decoration: none;
    color: black;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}