.page-numbers {
    display: flex;
    flex-direction: row;
    gap: 38px;
    margin-top: 42px;
}

.page-numbers button {
    all: unset;
    background: #F9F1E7;
    color: black;
    border-radius: 10px;
    padding: 15px 24px;
}

button.active {
    background: #B88E2F;
    color: white;
}

.page-numbers button:hover {
    cursor: pointer;
}